%form{:method => 'POST', :action => "/create"}
  %p
  .content_form
    %img{ :src => "images/Scissors-icon.png"}
    %textarea{:name => 'original_uri', :rows => 10, :cols => 60}
    %p
    %input.submit{:type => :submit, :value => "Short Me"}
